{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}

{% block content %}
  {% include 'components/header.html' %}
  <div class="text-center">
    <form class="form-signin" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Выполните регистрацию</h1>
        {% csrf_token %}
        {{form.username|as_crispy_field}}
        {{form.email|as_crispy_field}}
        {{form.password1|as_crispy_field}}
        {{form.password2|as_crispy_field}}

        <a class="btn btn-lg btn-secondary mb-1" href="{% url 'login' %}" role="button">Назад</a>
        <input class="btn btn-lg btn-primary mb-1" type="submit" value="Зарегистрироваться">
        
        <!-- <input type="hidden" name="next" value="{{ next }}"> -->
    </form>
  </div>
  {% include 'components/footer.html' %}
{% endblock %}