{% extends "base.html" %}
{% load static %}
{% block title %}Optimization page{% endblock title %}

{% block content %}
    {% include 'components/header.html' %}
    <div class="container-xxl mt-3 h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-6">
                <div class="card">
                    <form action="" class="p-3">
                        <h4>Фенология растений</h4>
                        <div class="mb-3 input-group">
                            <label for="customRange1" class="form-label">Пример диапазона</label>
                            <input type="range" class="form-range" id="customRange1">
                        </div>
                        <div class="mb-3 input-group">
                            <label for="customRange1" class="form-label">Пример диапазона</label>
                            <input type="range" class="form-range" id="customRange1">
                        </div>
                        <div class="mb-3 input-group">
                            <label for="customRange1" class="form-label">Пример диапазона</label>
                            <input type="range" class="form-range" id="customRange1">
                        </div>
                        <div class="mb-3 input-group">
                            <label for="customRange1" class="form-label">Пример диапазона</label>
                            <input type="range" class="form-range" id="customRange1">
                        </div>
                        <div class="mb-3 input-group">
                            <label for="customRange1" class="form-label">Пример диапазона</label>
                            <input type="range" class="form-range" id="customRange1">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include 'components/footer.html' %}
{% endblock content %}

{% block scripts %}
    <script>
        const selectElement = document.getElementById("select-opt");
        selectElement.addEventListener("change", getValue);

        const text = document.getElementById('param-text');
        text.innerHTML = "Параметры оптимальной " + selectElement.value;

        function getValue() {
            const text = document.getElementById('param-text');
            text.innerHTML = "Параметры оптимальной " + selectElement.value;
        }
    </script>
{% endblock scripts %}