{% extends "base.html" %}
{% load static %}
{% block title %}Diveg О нас {% endblock title %}

{% block content %}
    {% include 'components/header.html' %}
    <div class="container-xxl mt-3">
        <div class="row">
            <div class="col-md-6 ">
				<div class="lc-block mb-4">
					<a class="text-dark text-decoration-none" href="https://fasie.ru/" target="_blank">
						<img alt="" class="" src="{% static 'img/partners/fsi_logo.png' %}" style="height:20vh;" loading="lazy">
					</a>
					<p>"Проект создан при поддержке Федерального государственного бюджетного учреждения "Фонд содействия развитию малых форм предприятий в научно-технической сфере  в рамках программы "Студенческий стартап" федерального проекта "Платформа университетского технологического предпринимательства"</p>
				</div><!-- /lc-block -->
			</div>
        </div>
    </div>
    {% include 'components/footer.html' %}
{% endblock content %}

{% block scripts %}
    <script>
        const selectElement = document.getElementById("select-opt");
        selectElement.addEventListener("change", getValue);

        const text = document.getElementById('param-text');
        text.innerHTML = "Параметры оптимальной " + selectElement.value;

        function getValue() {
            const text = document.getElementById('param-text');
            text.innerHTML = "Параметры оптимальной " + selectElement.value;
        }
    </script>
{% endblock scripts %}